<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-capitalize" href="/">password management system</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">



        <% if (username =='') { %>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li> 

        <% } %>


        <% if (username != '') { %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu text-capitalize" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/password/list-category">list Categories</a></li>
              <li><a class="dropdown-item" href="/password/create-category">create Category</a></li>
            </ul>
          </li>
          

          <li class="nav-item dropdown">
               <a class="nav-link text-capitalize dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              password detail
            </a>
            <ul class="dropdown-menu text-capitalize" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/password/list-password">all password</a></li>
              <li><a class="dropdown-item" href="/password/add-password">create password</a></li>
            </ul>
          </li>

          
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/dashboard">Dashboard</a>
          </li> 

          <% } %>

          <% if (username == '') { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu text-capitalize" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/">login</a></li>
              <li><a class="dropdown-item" href="/account/create">signup</a></li>
            </ul>
          </li>
          <% } %>
            
        </ul>







        <!-- this will be apreared in case of userloggin -->
        <% if (username != '') { %>
        
          <ul class="navbar-nav mb-2 mb-lg-0">          
            <li class="nav-item dropdown">
              <a class="nav-link text-capitalize dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                     <%= username %>
                        </a>
                        <ul class="dropdown-menu  text-capitalize" aria-labelledby="navbarDropdown">
                          <li class="mb-0"><a class="dropdown-item" href="/logout">logout</a></li>
                        </ul>
                      </li>
          </ul>
  
        <% } %>

        
      </div>
    </div>
  </nav>