<%- include('partials/header'); -%>
<%- include('partials/nav.ejs'); -%>

    <div class="container">

      <p class="text-center  text-secondary display-6">    <%= title %>     </p>
 
    </div>
  
    <%- include('partials/footer.ejs'); -%>
